# Assignment -3
#### 1.	Print the doc string for all available methods along with example for string

In [29]:

greeting = "Good morning!"

In [31]:
print(greeting.upper())

GOOD MORNING!

In [33]:
print(greeting.lower())

good morning!

In [35]:
print(greeting.capitalize())

Good morning!

In [37]:
print(greeting.casefold())

good morning!

In [39]:
print(greeting.center(100))

                                           Good morning!

In [41]:

print(greeting.count("o"))

3

In [43]:
print(greeting.encode())

b'Good morning!'

In [45]:
print(greeting.endswith("!"))

True

In [47]:
print(greeting.expandtabs(10))

Good morning!

In [49]:
print(greeting.find("m"))

5

In [51]:
print(greeting.format())

Good morning!

In [53]:
print(greeting.format_map("g"))

Good morning!

In [55]:
print(greeting.index("n"))

8

In [57]:
print(greeting.isalnum())

False

In [59]:
greeting1 = "Good"

print(greeting1.isalpha())

True

In [61]:
print(greeting.isascii())

True

In [63]:
print(greeting.isdecimal())

False

In [65]:
print(greeting.isdigit())

False

In [67]:
print(greeting.isidentifier())

False

In [69]:
print(greeting.islower())

False

In [71]:
print(greeting.isnumeric())

False

In [73]:
print(greeting.isprintable())

True

In [75]:
greeting2 = "  "

print(greeting2.isspace())

True

In [77]:
greeting3 = "Good Morning!"
print(greeting3.istitle())

True

In [79]:
print(greeting.isupper())

False

In [81]:
word = "12345"
print(greeting.join(word))

1Good morning!2Good morning!3Good morning!4Good morning!5

In [83]:
a = "hi"
b= "26"

line = a.ljust(5) + b.ljust(5)

print(line)

hi   26

In [85]:
word = "   hello"

print(word.lstrip())

hello

In [87]:
print(greeting.maketrans("0","d"))

{48: 100}

In [89]:
print(greeting.partition("ing"))

('Good morn', 'ing', '!')

In [91]:
print(greeting.removeprefix("G"))

ood morning!

In [93]:
print(greeting.removesuffix("!"))

Good morning

In [95]:
print(greeting.replace("morning","evening"))

Good evening!

In [97]:
print(greeting.rfind("n"))

10

In [99]:
print(greeting.rindex("n"))

10

In [101]:
a = "42"
print(a.rjust(7,"0"))

0000042

In [103]:
print(greeting.rpartition("oo"))

('G', 'oo', 'd morning!')

In [105]:
print(greeting.rsplit("ing"))

['Good morn', '!']

In [107]:
a = "Good morning!"

print(a.rstrip("g!"))

Good mornin

In [109]:
print(greeting.split("mo"))

['Good ', 'rning!']

In [111]:
word ="""today is sunday
tommorow is monday
day after tommorow is tuesday"""

print(word.splitlines())

['today is sunday', 'tommorow is monday', 'day after tommorow is tuesday']

In [112]:
print(greeting.startswith("Goo"))

True

In [114]:
print(greeting.strip("Go"))

d morning!

In [117]:

print(greeting.swapcase())

gOOD MORNING!

In [119]:
print(greeting.title())

Good Morning!

In [121]:
table = str.maketrans( " ", " ", "aeiou")
text = "Good morning john"
print(text.translate(table))

Gd mrnng jhn

In [122]:
num = "11"
print(num.zfill(4))

0011

#### 2 Print the doc string for all available methods along with example for list

In [126]:
my_list= ["red","yellow","blue","white"]

In [128]:
my_list.append("black")
print(my_list)

['red', 'yellow', 'blue', 'white', 'black']

In [130]:
my_list.clear()
print(my_list)

[]

In [132]:
my_list= ["red","yellow","blue","white"]
my_list.copy()
print(my_list)

['red', 'yellow', 'blue', 'white']

In [134]:
my_list2= ["red","yellow","blue","white","red","red"]

print(my_list2.count("red"))

3

In [136]:
my_list3= ["red","yellow","blue","white"]

my_list3.extend("black")
print(my_list3)

['red', 'yellow', 'blue', 'white', 'b', 'l', 'a', 'c', 'k']

In [138]:
my_list4= ["red","yellow","blue","white"]
print(my_list4.index("blue"))

2

In [140]:
my_list4= ["red","yellow","blue","white"]
my_list4.insert(2, "black")
print(my_list4)

['red', 'yellow', 'black', 'blue', 'white']

In [141]:
my_list4.pop()
print(my_list4)

['red', 'yellow', 'black', 'blue']

In [143]:
my_list4.remove("yellow")
print(my_list4)

['red', 'black', 'blue']

In [145]:
my_list4.reverse()
print(my_list4)

['blue', 'black', 'red']

In [146]:
my_list4.sort()
print(my_list4)

['black', 'blue', 'red']

#### 3 Print the doc string for all available methods along with example for Tuple

In [148]:
my_tuple = ("chanchal",27,"pyhton","jaipur","yoga","chanchal")
print(my_tuple)
print(type(my_tuple))

('chanchal', 27, 'pyhton', 'jaipur', 'yoga', 'chanchal')
<class 'tuple'>

In [149]:
print(my_tuple.count("chanchal"))

2

In [150]:
my_tuple = ("chanchal",27,"pyhton","jaipur","yoga","chanchal")

print(my_tuple.index("jaipur"))

3

#### 4 Print the doc string for all available methods along with example for Dictionary

In [152]:
my_dict = {"Name":"Chanchal","age": 27,"skill":"python","hobby":"Dance","city":"Jaipur"}
print(my_dict)
print(type(my_dict))

{'Name': 'Chanchal', 'age': 27, 'skill': 'python', 'hobby': 'Dance', 'city': 'Jaipur'}
<class 'dict'>

In [154]:
# clear all elements of dictionary.
my_dict.clear()
print(my_dict)

{}

In [157]:
my_dict = {"Name":"Chanchal","age": 27,"skill":"python","hobby":"Dance","city":"Jaipur"}
print(my_dict.copy())

{'Name': 'Chanchal', 'age': 27, 'skill': 'python', 'hobby': 'Dance', 'city': 'Jaipur'}

In [159]:
print(my_dict.fromkeys("Name"))

{'N': None, 'a': None, 'm': None, 'e': None}

In [162]:
# provide key for value of specified key
print(my_dict.get("city"))

Jaipur

In [164]:
print(my_dict.items())

dict_items([('Name', 'Chanchal'), ('age', 27), ('skill', 'python'), ('hobby', 'Dance'), ('city', 'Jaipur')])

In [167]:
print(my_dict.keys())

dict_keys(['Name', 'age', 'skill', 'hobby', 'city'])

In [169]:
my_dict.pop("Name")
print(my_dict)

{'age': 27, 'skill': 'python', 'hobby': 'Dance', 'city': 'Jaipur'}

In [171]:
my_dict = {"Name":"Chanchal","age": 27,"skill":"python","hobby":"Dance","city":"Jaipur"}

my_dict.popitem()
print(my_dict)

{'Name': 'Chanchal', 'age': 27, 'skill': 'python', 'hobby': 'Dance'}

In [174]:
my_dict = {"Name":"Chanchal","age": 27,"skill":"python","hobby":"Dance","city":"Jaipur"}

print(my_dict.setdefault( "Name","age"))

Chanchal

In [176]:
my_dict.update({"colour":"red"})
print(my_dict)

{'Name': 'Chanchal', 'age': 27, 'skill': 'python', 'hobby': 'Dance', 'city': 'Jaipur', 'colour': 'red'}

In [179]:
print(my_dict.values())

dict_values(['Chanchal', 27, 'python', 'Dance', 'Jaipur', 'red'])

#### 5 Print the doc string for all available methods along with example for Set

In [183]:
Set1 = {"Chanchal",27,"python","Dance","Jaipur"}
print(Set1)
print(type(Set1))

{'Jaipur', 'Chanchal', 27, 'python', 'Dance'}
<class 'set'>

In [184]:
set2= {"kia","red"}
Set1.update(set2)
print(Set1)

{'kia', 'Jaipur', 'red', 'Chanchal', 27, 'python', 'Dance'}

In [187]:
Set1 = {"Chanchal",27,"python","Dance","Jaipur"}
Set1.clear()
print(Set1)

set()

In [189]:
Set1 = {"Chanchal",27,"python","Dance","Jaipur"}
newset = Set1.copy()
print(newset)

{'Jaipur', 'Chanchal', 27, 'python', 'Dance'}

In [191]:
Set1 = {"Chanchal",27,"python","Dance","Jaipur"}
set2= {"priya",27,"python","singing","Jaipur"}

set2.difference(Set1)

{'priya', 'singing'}

In [193]:
Set1 = {"Chanchal",27,"python","Dance","Jaipur"}
set2= {"priya",27,"python","singing","Jaipur"}
set2.difference_update(Set1)
print(set2)

{'singing', 'priya'}

In [195]:
Set1 = {"Chanchal",27,"python","Dance","Jaipur"}
Set1.discard("Dance")
print(Set1)

{'Jaipur', 'Chanchal', 27, 'python'}

In [197]:
Set1 = {"Chanchal",27,"python","Dance","Jaipur"}
set2= {"priya",27,"python","singing","Jaipur"}

Set1.intersection(set2)

{27, 'Jaipur', 'python'}

In [199]:
Set1.intersection_update(set2)
print(Set1)

{27, 'python', 'Jaipur'}

In [200]:
Set1 = {"Chanchal",27,"python","Dance","Jaipur"}
set2= {"priya",27,"python","singing","Jaipur"}
Set1.isdisjoint(set2)

False

In [201]:
Set1 = {"Chanchal",27,"python","Dance","Jaipur"}
set2= {"priya",27,"python","singing","Jaipur"}
Set1.update(set2)
set2.issubset(Set1)

True

In [202]:
Set1.issuperset(set2)

True

In [203]:
Set1 = {"Chanchal",27,"python","Dance","Jaipur"}
Set1.pop()
print(Set1)

{'Chanchal', 27, 'python', 'Dance'}

In [204]:
Set1 = {"Chanchal",27,"python","Dance","Jaipur"}
Set1.remove(27)
print(Set1)

{'Jaipur', 'Chanchal', 'python', 'Dance'}

In [205]:
Set1 = {"Chanchal",27,"python","Dance","Jaipur"}
set2= {"priya",27,"python","singing","Jaipur"}

Set1.symmetric_difference(set2)

{'Chanchal', 'Dance', 'priya', 'singing'}

In [206]:
Set1 = {"Chanchal",27,"python","Dance","Jaipur"}
set2= {"priya",27,"python","singing","Jaipur"}

Set1.symmetric_difference_update(set2)
print(Set1)

{'singing', 'Chanchal', 'priya', 'Dance'}

In [211]:
#Join Set 1 and Set 2 by union method
set1 = {"Chanchal",27,"python","Dance","Jaipur"}
set2= {"priya",27,"python","singing","Jaipur"}
set1.union(set2)

{27, 'Chanchal', 'Dance', 'Jaipur', 'priya', 'python', 'singing'}

In [213]:
set1 = {"Chanchal",27,"python","Dance","Jaipur"}
new_set= {"Data analyst","power BI"}

set1.update(new_set)
print(set1)

{'Data analyst', 'Jaipur', 'power BI', 'Chanchal', 27, 'python', 'Dance'}

#### 6.	Write a Python program to print the following string in a specific format
Sample String : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are"


 Twinkle, twinkle, little star,
		
        How I wonder what you are! 
	        
            Up above the world so high,   		
		
        Like a diamond in the sky.

In [218]:
print("""Twinkle, twinkle, little star,
\tHow I wonder what you are!
\t\tUp above the world so high, 
\tLike a diamond in the sky.
Twinkle, twinkle, little star,
\tHow I wonder what you are!
\t\tUp above the world so high, 
\tLike a diamond in the sky""")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
	Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
	Like a diamond in the sky

#### 7.	Write a program to find the last position of a substring “Emma” in a given string.

In [222]:
Emma = "Emma is a data scientist who knows Python. Emma works at google."
Emma.rindex("Emma")

43

8.	Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.


Given: list1 = ["M", "na", "i", "Ke"]

list2 = ["y", "me", "s", "lly"]

Output: ['My', 'name', 'is', 'Kelly']

In [225]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

In [226]:
newlist=[a+b for a,b in zip(list1,list2)]
print(newlist)

['My', 'name', 'is', 'Kelly']

#### 9.	Modify the element of a nested list inside the following list. Change the element 35 to 3500

In [230]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
list1[1][2][2][1] = 3500
print(list1)

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

#### 10.	Given is the list of grades obtained by u in last assignment

Grades = [10,9,10,4,8,7,8,9,10,10,7,8]

o	How many students have received grade 8

o	A statement that changes the last grade to 4

o	Sort the grades in ascending order

o	Print given list in reverse format

In [233]:
Grades = [10,9,10,4,8,7,8,9,10,10,7,8]

In [236]:
# How many students have received grade 8
print( Grades.count(8),"Students who achieve 8 Grades")

3 Students who achieve 8 Grades

In [238]:
# A statement that changes the last grade to 4
Grades[-1] = 4
print(Grades)

[10, 9, 10, 4, 8, 7, 8, 9, 10, 10, 7, 4]

In [239]:
# Sort the grades in ascending order
Grades.sort()
print(Grades)

[4, 4, 7, 7, 8, 8, 9, 9, 10, 10, 10, 10]

In [241]:
# Print given list in reverse format
Grades.reverse()
print(Grades)

[10, 10, 10, 10, 9, 9, 8, 8, 7, 7, 4, 4]

#### 11.	Write a Python program to sort three integers without using conditional statements and loops

In [245]:
num1 = int(input("enter no"))
num2 = int(input("enter no"))
num3 = int(input("enter no"))
print(sorted([num1,num2,num3]))

enter no 9
enter no 7
enter no 5

[5, 7, 9]

#### 12.	Define a dictionary with your basic details (name, company, 4 skills/hobbies) and perform following:

    a.	Get all the values in form of tuple
   
    b.	Delete the name company
   
    c.	Add institute and value as “Institute”
   
    d.	Find the length of newly formed dictionary

In [249]:
My_Dict = {"name":"chanchal","company":"genpact","skills":"Python,powerbi,tableau","hobbies":"reading"}
print(type(My_Dict))

# a. Get all the values in form of tuple
Tuple = tuple(My_Dict)
print(Tuple)
print(type(Tuple))

<class 'dict'>
('name', 'company', 'skills', 'hobbies')
<class 'tuple'>

In [251]:
My_Dict = {"name":"chanchal","company":"genpact","skills":"Python,powerbi,tableau","hobbies":"reading"}
#    b.	Delete the name company
del My_Dict["name"]
del My_Dict["company"]
print(My_Dict)

{'skills': 'Python,powerbi,tableau', 'hobbies': 'reading'}

In [253]:
#c.	Add institute and value as “Institute”
My_Dict = {"name":"chanchal","company":"genpact","skills":"Python,powerbi,tableau","hobbies":"reading"}

My_Dict.update({"institute":"coachx"})
print(My_Dict)

{'name': 'chanchal', 'company': 'genpact', 'skills': 'Python,powerbi,tableau', 'hobbies': 'reading', 'institute': 'coachx'}

In [255]:
 #   d.	Find the length of newly formed dictionary
len(My_Dict)

5

#### 13.	Convert two lists into a dictionary
keys = ['Ten', 'Twenty', 'Thirty'] 

values = [10, 20, 30]

In [258]:
keys = ['Ten', 'Twenty', 'Thirty'] 
values = [10, 20, 30]

new_dict= dict(zip(keys,values))
print(new_dict)
print(type(new_dict))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}
<class 'dict'>

#### 14.	Write a Python program to change Brad’s salary to 8500 in the following dictionary.

sample_dict = {

   
    'emp1': {'name': 'Jhon', 'salary': 7500},
   
    'emp2': {'name': 'Emma', 'salary': 8000},
   
    'emp3': {'name': 'Brad', 'salary': 500}
}

In [261]:
sample_dict = {
'emp1': {'name': 'Jhon', 'salary': 7500},

'emp2': {'name': 'Emma', 'salary': 8000},

'emp3': {'name': 'Brad', 'salary': 500}
}

sample_dict['emp3']['salary'] = 8500

print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

#### 15.	Write a program to generate a dictionary that contains (i:i*i) such that is an integral number between 1 and n (both included)

In [266]:
n = int(input("enter your number"))

square_list ={i:i*i for i in range(1,n+1)}
              
print(square_list)

enter your number 5

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

 #### 16.	 Write a Python program that prints out all colors from color_list_1 that are not present in color_list_2.

In [268]:
Colour_list1 =["blue","black","Green","Yellow","pink"]
Colour_list2 =["blue","red","Green","purple"]

Colour1 = set(Colour_list1)
Colour2 = set(Colour_list2)

print(Colour1.difference(Colour2))

{'black', 'Yellow', 'pink'}

#### 17.	Write a Python program that prints out all unique colors from color_list_1 and color_list_2.

In [271]:
Colour_list1 =["blue","black","Green","Yellow","pink"]
Colour_list2 =["blue","red","Green","purple" ]

Colour1 = set(Colour_list1)
Colour2 = set (Colour_list2)

print(Colour1.union(Colour2))

{'purple', 'red', 'black', 'Green', 'Yellow', 'pink', 'blue'}

#### 18.	Write a Python program that prints out all colors from color_list_2 that are not present in color_list_1.

In [274]:
Colour_list1 =["blue","black","Green","Yellow","pink"]
Colour_list2 =["blue","red","Green","purple"]

Colour1 = set(Colour_list1)
Colour2 = set(Colour_list2)

print(Colour2.difference(Colour1))

{'red', 'purple'}

#### 19.	Write a Python program that prints out all common colors from color_list_1 and color_list_2.

In [277]:
Colour_list1 =["blue","black","Green","Yellow","pink"]
Colour_list2 =["blue","red","Green","purple"]

Colour1 = set(Colour_list1)
Colour2 = set(Colour_list2)

print(Colour2.intersection(Colour1))

{'blue', 'Green'}

#### 20.	Write a Python program that prints out all non common colors from color_list_1 and color_list_2.

In [280]:
Colour_list1 =["blue","black","Green","Yellow","pink"]
Colour_list2 =["blue","red","Green","purple"]

Colour1 = set(Colour_list1)
Colour2 = set (Colour_list2)

print(Colour1.symmetric_difference(Colour2))

{'purple', 'red', 'black', 'Yellow', 'pink'}