In [4]:
#Int to float
no = 56
new = float(no)
print(type(no))
print(new)
print(type(new))

<class 'int'>
56.0
<class 'float'>

In [6]:
#Int to str
no = 56
new = str(no)
print(type(no))
print(new)
print(type(new))

<class 'int'>
56
<class 'str'>

In [12]:
#Int to list
no = 56
new = list(no)
print(type(no))
print(new)
print(type(new))

TypeError: 'int' object is not iterable

In [14]:
#Int to complex
no = 56
new = complex(no)
print(type(no))
print(new)
print(type(new))

<class 'int'>
(56+0j)
<class 'complex'>

In [18]:
#Int to Tuple
no = 56
new = tuple(no)
print(type(no))
print(new)
print(type(new))

TypeError: 'int' object is not iterable

In [20]:
#Int to Boolean
no = 56
new = bool(no)
print(type(no))
print(new)
print(type(new))

<class 'int'>
True
<class 'bool'>

In [22]:
#Int to Dictionary
no = 56
new = dict(no)
print(type(no))
print(new)
print(type(new))

TypeError: 'int' object is not iterable

In [24]:
#Int to Set
no = 56
new = set(no)
print(type(no))
print(new)
print(type(new))

TypeError: 'int' object is not iterable

In [28]:
#float to int
no = 56.25
new = int(no)
print(type(no))
print(new)
print(type(new))

<class 'float'>
56
<class 'int'>

In [30]:
#float to str
no = 56.25
new = str(no)
print(type(no))
print(new)
print(type(new))

<class 'float'>
56.25
<class 'str'>

In [32]:
#float to list
no = 56.25
new = list(no)
print(type(no))
print(new)
print(type(new))

TypeError: 'float' object is not iterable

In [34]:
#float to cocomplex
no = 56.25
new = complex(no)
print(type(no))
print(new)
print(type(new))

<class 'float'>
(56.25+0j)
<class 'complex'>

In [36]:
#float to Tuple
no = 56.25
new = tuple(no)
print(type(no))
print(new)
print(type(new))

TypeError: 'float' object is not iterable

In [38]:
#float to Boolean
no = 56.25
new = bool(no)
print(type(no))
print(new)
print(type(new))

<class 'float'>
True
<class 'bool'>

In [40]:
#float to Dictionary
no = 56.25
new = dict(no)
print(type(no))
print(new)
print(type(new))

TypeError: 'float' object is not iterable

In [42]:
#float to set
no = 56.25
new = set(no)
print(type(no))
print(new)
print(type(new))

TypeError: 'float' object is not iterable

In [48]:
#str to int
no = "56"
name = "chanchal"
new = int(no)
print(type(no))
print(new)
print(type(new))

new2 = int(name)
print(type(new2))
print(new2)
print(type(new2))

<class 'str'>
56
<class 'int'>

ValueError: invalid literal for int() with base 10: 'chanchal'

In [52]:
#str to float
no = "56"
name = "chanchal"
new = float(no)
print(type(no))
print(new)
print(type(new))

new2 = float(name)
print(type(new2))
print(new2)
print(type(new2))

<class 'str'>
56.0
<class 'float'>

ValueError: could not convert string to float: 'chanchal'

In [62]:
#str to list
name = "chanchal"
new = list(name)
print(type(name))
print(new)
print(type(new))

<class 'str'>
['c', 'h', 'a', 'n', 'c', 'h', 'a', 'l']
<class 'list'>

In [68]:
#str to complex
name = "56j"
new = complex(name)
print(type(name))
print(new)
print(type(new))

name2 = "chanchal"
new = complex(name2)
print(type(name2))
print(new)
print(type(new))

<class 'str'>
56j
<class 'complex'>

ValueError: complex() arg is a malformed string

In [72]:
#str to tuple
name = "chanchal"
new = tuple(name)
print(type(name))
print(new)
print(type(new))

<class 'str'>
('c', 'h', 'a', 'n', 'c', 'h', 'a', 'l')
<class 'tuple'>

In [74]:
#str to Boolean
name = "chanchal"
new = bool(name)
print(type(name))
print(new)
print(type(new))

<class 'str'>
True
<class 'bool'>

In [84]:
#str to Dictionary
name = "chanchal"
new = dict(name)
print(type(name))
print(new)
print(type(new))

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [86]:
#str to Set
name = "chanchal"
new = set(name)
print(type(name))
print(new)
print(type(new))

<class 'str'>
{'a', 'l', 'n', 'h', 'c'}
<class 'set'>

In [124]:
#list to int
list_1 = ["chanchal","sonam",25,"python is language",65.89]
list_2 = [25,56]
new = int(list_1)
print(type(list_1))
print(new)
print(type(new))

new2 = int(list_2)
print(type(list_2))
print(new2)
print(type(new2))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [122]:
#list to float
list_1 = ["chanchal","sonam",25,"python is language",65.89]
list_2 = [25,56]
new = float(list_1)
print(type(list_1))
print(new)
print(type(new))

new2 = float(list_2)
print(type(list_2))
print(new2)
print(type(new2))

TypeError: float() argument must be a string or a real number, not 'list'

In [102]:
#list to str
list_1 = ["chanchal","sonam",25,"python is language",65.89]
new = str(list_1)
print(type(list_1))
print(new)
print(type(new))

<class 'list'>
['chanchal', 'sonam', 25, 'python is language', 65.89]
<class 'str'>

In [114]:
#list to complex
list_1 = ["chanchal","sonam",25,"python is language",65.89]
new = complex(list_1)
print(type(list_1))
print(new)
print(type(new))

TypeError: complex() first argument must be a string or a number, not 'list'

In [128]:
list_2 = [25]

new2 = complex(list_2)
print(type(list_2))
print(new2)
print(type(new2))

TypeError: complex() first argument must be a string or a number, not 'list'

In [130]:
#list to tuple
list_1 = ["chanchal","sonam",25,"python is language",65.89]
new = tuple(list_1)
print(type(list_1))
print(new)
print(type(new))

<class 'list'>
('chanchal', 'sonam', 25, 'python is language', 65.89)
<class 'tuple'>

In [132]:
#list to Boolean
list_1 = ["chanchal","sonam",25,"python is language",65.89]
new = bool(list_1)
print(type(list_1))
print(new)
print(type(new))

<class 'list'>
True
<class 'bool'>

In [142]:
#list to dictionary
list_1 = ["name","sonam","age",65]
new = dict(list_1)
print(type(list_1))
print(new)
print(type(new))

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [148]:
#list to set
list_1 = ["name", 35,"sonam","age",65]
new = set(list_1)
print(type(list_1))
print(new)
print(type(new))

<class 'list'>
{65, 35, 'sonam', 'age', 'name'}
<class 'set'>

In [150]:
#Complex to int
code = 52j
new = int(code)
print(type(code))
print(new)
print(type(new))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [152]:
#Complex to float
code = 52j
new = float(code)
print(type(code))
print(new)
print(type(new))

TypeError: float() argument must be a string or a real number, not 'complex'

In [154]:
#Complex to str
code = 52j
new = str(code)
print(type(code))
print(new)
print(type(new))

<class 'complex'>
52j
<class 'str'>

In [ ]:
#Complex to float
code = 52j
new = float(code)
print(type(code))
print(new)
print(type(new))

In [156]:
#Complex to list
code = 52j
new = list(code)
print(type(code))
print(new)
print(type(new))

TypeError: 'complex' object is not iterable

In [158]:
#Complex to tuple
code = 52j
new = tuple(code)
print(type(code))
print(new)
print(type(new))

TypeError: 'complex' object is not iterable

In [170]:
#Complex to Boolean
code = 65J
new = bool(code)
print(type(code))
print(new)
print(type(new))

<class 'complex'>
True
<class 'bool'>

In [172]:
#Complex to dictionary
code = 65J
new = dict(code)
print(type(code))
print(new)
print(type(new))

TypeError: 'complex' object is not iterable

In [174]:
#Complex to set
code = 65J
new = set(code)
print(type(code))
print(new)
print(type(new))

TypeError: 'complex' object is not iterable

In [180]:
#Tuple to int
code = (65,65)
new = int(code)
print(type(code))
print(new)
print(type(new))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'tuple'

In [182]:
#Tuple to float
code = (65,65)
new = float(code)
print(type(code))
print(new)
print(type(new))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [184]:
#Tuple to str
code = (65,65)
new = str(code)
print(type(code))
print(new)
print(type(new))

<class 'tuple'>
(65, 65)
<class 'str'>

In [186]:
#Tuple to list
code = (65,65)
new = list(code)
print(type(code))
print(new)
print(type(new))

<class 'tuple'>
[65, 65]
<class 'list'>

In [188]:
#Tuple to complex
code = (65,65)
new = complex(code)
print(type(code))
print(new)
print(type(new))

TypeError: complex() first argument must be a string or a number, not 'tuple'

In [198]:
#Tuple to Set
code = (65,65,21,56,31,45)
new = set(code)
print(type(code))
print(new)
print(type(new))

<class 'tuple'>
{65, 45, 21, 56, 31}
<class 'set'>

In [212]:
#Boolean to int
code = True
new = int(code)
print(type(code))
print(new)
print(type(new))

<class 'bool'>
1
<class 'int'>

In [214]:
#Boolean to float
code = True
new = float(code)
print(type(code))
print(new)
print(type(new))

<class 'bool'>
1.0
<class 'float'>

In [216]:
#Boolean to String
code = True
new = str(code)
print(type(code))
print(new)
print(type(new))

<class 'bool'>
True
<class 'str'>

In [218]:
#Boolean to List
code = True
new = list(code)
print(type(code))
print(new)
print(type(new))

TypeError: 'bool' object is not iterable

In [220]:
#Boolean to complex
code = True
new = complex(code)
print(type(code))
print(new)
print(type(new))

<class 'bool'>
(1+0j)
<class 'complex'>

In [222]:
#Boolean to tuple
code = True
new = tuple(code)
print(type(code))
print(new)
print(type(new))

TypeError: 'bool' object is not iterable

In [224]:
#Boolean to Dict
code = True
new = dict(code)
print(type(code))
print(new)
print(type(new))

TypeError: 'bool' object is not iterable

In [226]:
#Boolean to set
code = True
new = tuple(code)
print(type(code))
print(new)
print(type(new))

TypeError: 'bool' object is not iterable

In [23]:
#Dictionary to int
num1 = {"colour":"white"}
new = int(num1)
print(type(num1))
print(new)
print(type(new))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'dict'

In [11]:
#dictionary to float
num1 = {"colour":"white"}
new = int(num1)
print(type(num1))
print(new)
print(type(new))

TypeError: float() argument must be a string or a real number, not 'set'

In [25]:
# dictionary to str
dictmy ={"colour":"white"}
new = str(dictmy)
print(type(dictmy))
print(new)
print(type(new))

<class 'dict'>
{'colour': 'white'}
<class 'str'>

In [29]:
# dictionary to list
dictmy ={"colour":"white", "car":"kia"}
new = list(dictmy)
print(type(dictmy))
print(new)
print(type(new))

<class 'dict'>
['colour', 'car']
<class 'list'>

In [31]:
# dictionary to complex
dictnum ={"colour":25}
new = complex(dictmy)
print(type(dictmy))
print(new)
print(type(new))

TypeError: complex() first argument must be a string or a number, not 'dict'

In [33]:
# dictionary to Tuple
dictmy ={"colour":"white", "car":"kia"}
new = tuple(dictmy)
print(type(dictmy))
print(new)
print(type(new))

<class 'dict'>
('colour', 'car')
<class 'tuple'>

In [35]:
# dictionary to boolean
dictmy ={"colour":"white", "car":"kia"}
new = bool(dictmy)
print(type(dictmy))
print(new)
print(type(new))

<class 'dict'>
True
<class 'bool'>

In [37]:
# dictionary to set
dictmy ={"colour":"white", "car":"kia"}
new = set(dictmy)
print(type(dictmy))
print(new)
print(type(new))

<class 'dict'>
{'colour', 'car'}
<class 'set'>

In [39]:
# set to int
dataset ={"shirt","pant",34,"trouser"}
new = int(dataset)
print(type(dataset))
print(new)
print(type(new))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'set'

In [41]:
# set to float
dataset ={"shirt","pant",34,"trouser"}
new = float(dataset)
print(type(dataset))
print(new)
print(type(new))

TypeError: float() argument must be a string or a real number, not 'set'

In [43]:
# set to str
dataset ={"shirt","pant",34,"trouser"}
new = str(dataset)
print(type(dataset))
print(new)
print(type(new))

<class 'set'>
{'trouser', 'pant', 34, 'shirt'}
<class 'str'>

In [45]:
# set to list
dataset ={"shirt","pant",34,"trouser"}
new = list(dataset)
print(type(dataset))
print(new)
print(type(new))

<class 'set'>
['trouser', 'pant', 34, 'shirt']
<class 'list'>

In [47]:
# set to complex
dataset ={"shirt","pant",34,"trouser"}
new = complex(dataset)
print(type(dataset))
print(new)
print(type(new))

TypeError: complex() first argument must be a string or a number, not 'set'

In [49]:
# set to tuple
dataset ={"shirt","pant",34,"trouser"}
new = tuple(dataset)
print(type(dataset))
print(new)
print(type(new))

<class 'set'>
('trouser', 'pant', 34, 'shirt')
<class 'tuple'>

In [51]:
# set to dictionary
dataset ={"shirt","pant",34,"trouser"}
new = dict(dataset)
print(type(dataset))
print(new)
print(type(new))

ValueError: dictionary update sequence element #0 has length 7; 2 is required

In [53]:
# Set to Boolean
dataset ={"shirt","pant",34,"trouser"}
new = bool(dataset)
print(type(dataset))
print(new)
print(type(new))

<class 'set'>
True
<class 'bool'>